.blog-navbar {
  .nav-logo {
    font-size: 30px;
    font-weight: bold;
  }
  .collapse {
    .navbar-nav {
      .nav-item {
        display: block;
        position: relative;
        font-weight: 700;
        line-height: 3rem;
        .nav-link::after {
          content: "";
          display: block;
          position: absolute;
          right: 0px;
          bottom: 0px;
          width: 20%;
          height: 3px;
          transition: width 0.4s;
          background-color: rgb(51, 51, 51);
        }
      }
      .nav-item:hover > .nav-link::after{
        width: 100%;
        transition: width 0.4s;
      }
    }
  }
}
