body {
  font-family: "Josefin Sans", "微軟正黑體";
}
.standard-link {
  text-decoration: none;
  color: #2C1D25;
}
.standard-link:hover {
  color: #45352B;
  text-decoration: none;
}
.main-btn {
  background-color: #fdce12;
  border: 2px solid #2C1D25;
  border-radius: 8px;
  padding: 3px 10px;
  margin: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.outline-btn {

}
.main-input {
  display: block;
  background-color: #fdce12;
  color: #2C1D25;
  padding: 3px 8px;
  border: 2px solid #2C1D25;
  border-radius: 8px;
}
.bgc {
  background-color: #fdce12;
}
