.slogan-wrap {
    text-align: center;
    padding: 8rem 0px;
  div {
      position: relative;
      max-width: 68rem;
      margin: 0px auto;
      padding: 0px 1.5rem;
    h1 {
      font-size: 2.6rem;
      font-weight: 900;
      line-height: 4rem;
    }
  }
}
