.single-page-form-container {
  .card {
    background-color: #fdce12;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.08);
    border: 2px solid #45352B;
    .card-body {
      form {
        .field {
          .avatar-wrap {
            img {
              display: inline-block;
              border: 2px solid #45352B;
              border-radius: 8px;
            }
          }
          .form-control {
            background-color: #fdce12;
            border: 2px solid #45352B;
            transition: box-shadow 0.2s ease-in-out;
          }
          .form-control:focus {
            box-shadow: 0 0 0 0.1rem #45352B;
          }
        }
      }
    }
  }
}
